/* Submenu style */

#subMenu1 > a,
#subMenu2 > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  letter-spacing: 2px;
  background-color: #f2f2f2;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.84);
}

#subMenu1,
#subMenu2 {
  display: none;
}

#dropDown1,
#dropDown2 {
  font-size: 5rem !important;
  /* margin-right: 2rem; */
}

/* Menu screen */

#aside {
  display: none;
}

/* Menu phone */

#hamburger {
  font-size: 4.5rem !important;
  margin-left: 1.5rem;
}

.darkBack {
  background: rgba(0, 0, 0, 0.5);
}

#menuHeader {
  display: none;
  width: 100vw;
  height: 10vh;
  background-color: #f2f2f2;
  align-items: center;
}

#menuBody {
  display: none;
  position: absolute;
  top: 10vh;
  width: 100vw;
  max-height: 80vh;
  overflow-y: scroll;
}

.show {
  display: block !important;
}

#menuBody > a,
nav > a,
#subMenu1 > a,
#subMenu2 > a {
  padding: 0 1.5rem 0 1.5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 2px;
  background-color: white;
  font-size: 1.6rem;
  text-decoration: none;
}

#subMenu1 > a,
#subMenu2 > a {
  background-color: white;
  font-size: 1.2rem;
}

#subMenu2 > a:hover,
nav > a:hover {
  background-color: #588fc1;
}

.active {
  background-color: #588fc1 !important;
}

/* Menu effect drop down */

.fixed {
  position: fixed !important;
  animation: popDown 0.5s;
  top: 0;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: popDown;
}

@keyframes popDown {
  0% {
    transform: translateY(-100px);
  }
}

.fixMenu {
  position: fixed !important;
}

/* General style */

ul {
  list-style: none;
  padding: 0;
}

#footer {
  margin-top: 6rem;
  background-color: #e0e0e0;
  width: 100vw;
  font-size: 1.4rem;
  text-align: center;
}

footer {
  background-color: #f0f0f0;
  padding: 2rem;
  font-size: 1.2rem;
}

#footer > ul > li {
  padding: 0.5rem;
}

html {
  font-size: 62.5%;
  height: 100vh;
}

a {
  color: inherit !important;
}

body {
  overflow-x: hidden;
  height: 100vh;
  margin: 0;
  color: rgba(0, 0, 0, 0.84);
  font-family: "Arial", sans-serif;
}

p {
  font-size: 2rem;
  letter-spacing: 0.5px;
  line-height: 1.8;
  word-break: break-word;
  max-width: 700px;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.58;
  text-align: center;
  margin-top: 0;
  max-width: 700px;
}

h2 {
  font-size: 2.2rem;
}

#main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8rem 4rem 0 4rem;
  height: 100%;
}

hr {
  width: 100%;
  max-width: 700px;
}

img {
  margin-bottom: 8rem;
  max-width: 100%;
}

/* Media queries for smaller screens */
@media (max-width: 1024px) {
  p {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  h1 {
    font-size: 2rem;
  }

  #menuHeader {
    display: flex;
  }
}

/* Media queries for phones */

@media (max-width: 400px) {
  p {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 2rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  #footer {
    font-size: 1.2rem;
  }

  footer {
    font-size: 1rem;
  }
}

/* Media queries for bigger screens */

@media (min-width: 1025px) {
  #aside {
    display: block;
    padding: 8rem 6rem 0 6rem;
    position: fixed;
    height: 100%;
    background-color: #f2f2f2;
    overflow-y: auto;
    /* max-width: 300px; */
    top: 0;
    left: 0;
  }

  #footer {
    left: 250px;
  }

  #main {
    margin-left: 450px;
    margin-right: 60px;
  }
}
